<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/farmerportal</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        
        <mapping resource="com/pojo/Admin.hbm.xml"/>
        <mapping resource="com/pojo/Category.hbm.xml"/>
        <mapping resource="com/pojo/Cart.hbm.xml"/>
        <mapping resource="com/pojo/Contact.hbm.xml"/>
        <mapping resource="com/pojo/Demo.hbm.xml"/>
        <mapping resource="com/pojo/Farmer.hbm.xml"/>
        <mapping resource="com/pojo/Machinary.hbm.xml"/>
        <mapping resource="com/pojo/Product.hbm.xml"/>
        <mapping resource="com/pojo/ProductType.hbm.xml"/>
        <mapping resource="com/pojo/Purchase.hbm.xml"/>
        <mapping resource="com/pojo/SoilTest.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
